# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Common.iml
# Datasource local storage ignored files
/../../../../../../../:\GitRepos\shoping-modular-monolith\Common\.idea\.idea.Common\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
