# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Users.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\GitRepos\shoping-modular-monolith\Modules\Users\.idea\.idea.Users\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
